.centeredG {
    height: 400px;
    width: 400px;
    background: #eee;
    margin: 50px auto;
}

.photoCentre {
    margin-top: 30px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-circle {
    border-radius: 50%;
    width: 70%;
    float: left;
    margin-right: 20px
}

.photoInfo-content-right {
    margin-left: 20px;
    float: right;
}

.photoPageContainer {
    background-color:#131313;                
    object-fit: fill;     
    text-align: center;
}

/*
.photoPageContainer img {
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    max-width: 100%;    
    display: block;
}
*/

.photo-buttons{
    position: relative;
    margin-left: auto;
    margin-right: auto;    
    display: inline-block;
}

.photo-buttons img{
    max-height: 80vh;
    max-width: 100%;    
}

.prev-but-container{    
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.img-prev{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: white;
}

.img-prev .far{
    color: white;
}

.img-prev .fas,
.img-prev:hover .far {
    display: none;    
}

.img-prev:hover .fas {
    display: inline;
    color: white;
    font-size: 32px;
}




.photoInfoContainer {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
    display: flex;
    flex-direction: row;
}

.photoInfo1 {    
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.photoInfo2 {
    margin-top: 20px;
    list-style-type: none;
    margin-bottom: 20px;  
    width: 20%;    
}

@media only screen and (max-width: 600px) {
    .photoInfoContainer {        
        flex-direction: column;
    }

    .photoInfo2 {        
        width: 100%;
    }
}

div.photoInfo2 ul {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 10px;
}

div.photoInfo2 li {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.photoInfo2 hr {
    padding-bottom: 0px;
    height: 0px;
}

.album {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.album img {
    max-width: none;
    max-height: 100%;
}

.album h3 {
    position: absolute;
    color: white;
    top: 25px;
    left: 0;
    width: 100%;
}

.album a {
    color: white;
}

.album h3 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.photoStreamTitle{
    clear:both;
}