---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: 'Roboto Serif', serif;
$base-font-size:   18px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// color variables : huemint.com
$palette-bg:        #e8e6ea;
$palette-bg-accent: #a6b6de;
$palette-text:      #2b3949;
$palette-contrast:  #000100;
$palette-brand:     #c76625;
$palette-highlight: #e9ab00;

// autumn https://huemint.com/website-3/#palette=e8e6ea-a6b6de-2b3949-000100-c76625-f6cf00
// https://huemint.com/website-1/#palette=e8e6ea-2b3949-f47c2d

// Width of the content area
$content-width:    max(50vw,950px);

$on-palm:          750px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "gruvbox"
        //"syntax-highlighting"
;
