---
layout: default
---

<div class="home">
    
    <h1 class="page-heading">Posts</h1>
    
    <div class="wrapper">
        {% for post in paginator.posts %} <!-- Changed site.posts to paginator.posts -->
        {% if post.layout != 'album' %}
        {% capture svg_symbols %}{% include svg-symbols.svg %}{% endcapture %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="card-link">
            <div class="card">
                
                <!-- Text Section -->
                <div class="card-text">
                    <h2>{{ post.title }}</h2>
                    
                    {% if post.excerpt %}
                    <p>{{ post.excerpt | strip_html }}</p>
                    {% endif %}
                    
                    <!-- Date always at the bottom -->
                    <div class="card-meta">
                        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                        <!-- Icons at bottom right corner -->
                        <div class="card-tags">
                            {% for tag in post.tags %}
                                {% assign svg_string = 'symbol id="' | append: tag | append: '"' %}
                                {% if svg_symbols contains svg_string %}
                                    <svg title="{{ tag }}">
                                        <use xlink:href="#{{ tag }}"></use>
                                    </svg>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
                
                <!-- Image Section  -->
                <div class="card-image" style="background-image: url('{{ site.url }}/{{ post.image.path }}')"></div>
                
            </div>
        </a>

        {% endif %}
        {% endfor %}

        <!-- Pagination links -->
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
            {% else %}
                <span class="previous">◱</span>
            {% endif %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Older</a>
            {% else %}
                <span class="next">◲</span>
            {% endif %}
        </div>

    </div>
    
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
    
</div>
