<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.owner.github %}
          <li>
            {%assign ghurl = "https://github.com/" | append: site.owner.github %}
            {% include icon-sn.html username=site.owner.github url=ghurl svgfile="github-square-brands.svg" %}
          </li>
          {% endif %}

          {% if site.owner.linkedin %}
          <li>
            {% assign liurl = "https://www.linkedin.com/in/" | append: site.owner.linkedin %}
            {% include icon-sn.html username="LinkedIn" url=liurl svgfile="linkedin-brands.svg" %}
          </li>
          {% endif %}

          {% if site.owner.twitter %}
          <li>
            {% assign twit_url = "https://twitter.com/" | append: site.owner.twitter %}
            {% include icon-sn.html username=site.owner.twitter url=twit_url svgfile="icon-twitter.svg" %}
          </li>
          {% endif %}        
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
