/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: 1;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 10%);
    }

    &:hover {
        color: darken($palette-accent,5%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    //border: 1px solid darken($palette-bg, 5%);
    border-radius: 0.1rem;
}

// inline code
code.language-plaintext.highlighter-rouge {
    background-color: darken($palette-bg, 8%);  /* or your desired background color */
    padding: 2px 4px;  /* optional: for a bit of padding */
    border-radius: 4px;  /* optional: for rounded corners */
    color: $palette-darkest;
}


code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: 55rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.card {
    width: 100%;
    border: 0.1rem solid darken($palette-bg, 10%);
    border-radius: 0.5rem;
    margin: $spacing-unit 0;
    display: flex;
    flex-direction: row;
    background-color: darken($palette-bg, 3.1415%);
    overflow: hidden;
    position: relative; // Added to contain the shine effect
    transition: background-color 0.05s ease-in, transform 0.05s;
    will-change: transform;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%; // Pushed entirely off the card by default
        width: 50%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255,255,255,0.0), rgba(255,255,255,0.0), rgba(255,255,255,0.0));
        transform: skewX(-25deg);
        opacity: 0;
        transition: left 0.8s ease-in-out, background-image 0.8s ease-in, opacity ease-in;
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 0.1rem solid lighten($palette-highlight, 10%);
        background-color: rgba(255, 227, 136, 0.158);
        z-index: 1;
        
        &::after {
            background: linear-gradient(45deg, rgba(255,255,255,0.25), rgba(255,255,255,0.5), rgba(255,255,255,0.25));
            left: 150%; // Move the shine across the card
            opacity: 1;
        }
    }

    @include media-query($on-laptop) {
        flex-direction: column;
    }

}

.card-text {
    padding: $spacing-unit;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}


.card-meta {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: $small-font-size;
    
    .card-tags {
        align-items: center;
        position: absolute;
        bottom: .1rem;
        right: 10px;
        display: flex;
        gap: .25rem; // Spacing between icons

        > svg {
            display: inline-block;
            vertical-align: middle;
            width: 1.275rem;
            height: 1.275rem;            
        }
    }
}

.card-image {
    background-size: cover;
    background-position: center;
    flex: 0 0 38.1%; 
    min-height: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s ease;

    @include media-query($on-laptop) {
        order: -1;
        flex-basis: auto;
        width: 100%;
    }
}

.card-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        path {
            fill: $palette-accent;
        }
    }
}

/* How to make an image center (vertically & horizontally) inside a bigger div*/
/* http://stackoverflow.com/a/19206463 */
.Container
{
    text-align: center;
}

    .Container:before
    {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

.Content
{
    display: inline-block;
    vertical-align: middle;
}

