/**
 * Site header
 */
.site-header {    
    border-bottom: 0.1rem solid var(--background-darkened-10);
    min-height: 1rem;
    background-color: var(--background-darkened-pi);
    transition: border-bottom 0.25s ease;
    
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
        .title-dot{
            color: var(--highlight);
        }
    }

    .title-dot{
        position: absolute;
        bottom: .6rem;
        font-size: 4rem;
        color: var(--background-accent);
        transition: color 0.3s ease;      
    }
}

.site-nav {
    
    z-index: 2;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: var(--text);
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: var(--background);
        border: 1px solid var(--background-accent);
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: var(--text);
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    background-color: var(--footer-bg);    
    padding: $spacing-unit 0;
    position: relative;
    width: 100%;
    bottom: 0;



    // Text color for the general footer content
    color: var(--brand-lightened-25);

    a {
        color: var(--footer-brand);
        &:hover {
            color: var(--highlight);  // Hover color for links in the footer
        }
    }

    .contact-list-title {
        color: var(--footer-brand);
    }
}


.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.contact-list-title
{
    font-weight: 200;    
}
.photoinfo-col-wrapper {
    display: inline-block;
    margin-top: 20px;  
    width: 100%;
   /* margin-left: -$spacing-unit / 2;*/
}

.photoinfo-col{
    margin-bottom: $spacing-unit / 2;
}


/*
If you want photoinfo cols to be 3 side by side, set percentages
to sum less than 100%
*/

.photoinfo-col-1 {
    float: left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.photoinfo-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.photoinfo-col-2-map{
    float: right;
}

.photoinfo-col-2-nomap{
    float: right;
}

.photoinfo-col-3 {
    float: right;
    width: -webkit-calc(100%);
    width:         calc(100%);
}




.footer-col-wrapper {
    font-size: 15px;
    //background-color: var(--text);
    color: var(--highlight);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    float: left;
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    float: left;
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    color: var(--footer-text);
    float: left;
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .photoinfo-col-1,
    .photoinfo-col-2,
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .photoinfo-col-2{
        float:right;
    }

    .footer-col-3
    {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .photoinfo-col-3 {
        width: -webkit-calc(100%);
        width:         calc(100%);
    }
}

@media screen and (max-width: 460px)
{
    .photoinfo-col{
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    /*.photoinfo-col,*/
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

 $embedded-content-margin: 2rem;

.page-content {
    padding-bottom: $spacing-unit;
    padding-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

// .post {
//     margin-top: 3rem;
// }

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: var(--text);
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

}

.post-title {
    color: var(--text);
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    color: var(--text);
    margin-bottom: $spacing-unit;  

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-colored-text {
    text-shadow: 
        -1px    -1px    3px var(--colored-text-outline), 
        1px     -1px    3px var(--colored-text-outline), 
        -1px    1px     3px var(--colored-text-outline), 
        1px     1px     3px var(--colored-text-outline);
}

.MathJax span{
    filter: drop-shadow(.5px .5px .35px var(--formula-outline));
}

// .audiovisual {
//     margin: 5px;    
//     background-color: var(--image-background);
//     border-radius: .5rem;
// }

// .audiovisual {
//     margin: 5px;    
//     border-radius: .5rem;
// }

.image-container {
    text-align: center; // Center the caption
    margin-bottom: $embedded-content-margin;

    .caption {
        padding-top: 0.5rem;
        
        display: block;
        text-align: center; // Ensure caption is centered
        font-weight: bold; // Bold on hover
    }
}

// image galleries

.pig-gallery {
    margin-top: $embedded-content-margin;
}