<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        <div id="pig"></div>

      </div>
    </div>

    {% include footer.html %}

  </body>
  <script src="{{ site.url }}/js/plugins/pig/pig.js"></script>
  <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
  <script src="{{ site.url }}/js/plugins/jquery.justifiedGallery.min.js"></script>
  <script>
    var imageData = [
      {filename: 'P9080894.jpg', aspectRatio: 1.334},
      {filename: 'P9080963.jpg', aspectRatio: 0.75},
    ];

    var options = {
      urlForSize: function(filename, size) {
        return '{{ site.url }}/img/' + size + '/' + filename;
      },
      spaceBetweenImages: 3,
      getImageSize: function(lastWindowWidth) {
        console.log("getimagesize");
        if (lastWindowWidth <= 640)  // Phones
          return 500;
        else if (lastWindowWidth <= 1920) // Tablets and latops
          return 500;
        return 500;  // Large desktops
      }
      // ...
    };

    var pig = new Pig(imageData, options).enable();
  </script>
</html>
